*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma;
  cursor: pointer;
}
html,body{
  height:100%;
  width: 100%;
}
#main{
  height:100%;
  width: 100%;
}
#nav{
  width: 100%;
  height: 20%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;

}
#nav-part1 button{
  margin-left: 20px;
  padding: 2px 10px;
  font-size: 40px;
  background-color: pink;
  color: black;
  border-radius: 70px;
  font-weight: 600;
}
#nav-part2{
  display: flex;
  align-items:center ;
  justify-content: space-between;
  padding:0 40px ;
}
#nav-part2 h4{
  padding: 40px;
  margin-right: 50px;
}

#nav-part2 h4 button{
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 100;
  background-color: black;
  color: white;
}
#nav-part2 h4 button:hover{
  background-color: white;
  color: black;
}
#content h1{
  font-size: 140px;
  padding-left: 350px;
  font-weight: 700;
  letter-spacing: -8px;
}
#content h3 {
  padding-left: 550px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
#content p{
  width: 92%;
  padding-left: 250px;
  word-spacing: 5px;
  letter-spacing: 0px;
  padding-top: 15px;
  font-size: 17px;
  font-weight:550;
}
#image{
  width: 100%;
 
}
.img{
  width: 100%;
  height: 800px;
  background-color: aqua;
  object-fit: cover;
  background-size: cover;
  margin-top: 20px;
  padding: 10px 0;

}
#img1{
  background-image:url(https://images.unsplash.com/photo-1632440722549-692fc6af969e?q=80&w=907&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#case{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  border-bottom:2px solid black ;
}
#case h1{
  font-size: 40px;
  font-weight: bolder;
  padding-left: 10px;

}
#case h4{
  width: 250px;
  padding-right: 20px;
}
#project{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-bottom: 2px solid black;
}


.img1{
  height: 400px;
  width: 30%;
  background-color: aquamarine;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
#img2{
 background-image: url(https://images.unsplash.com/photo-1695623675612-9745e0c2849b?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#img3{
 background-image:url(https://images.unsplash.com/photo-1680593180878-e0cd1e99486e?q=80&w=580&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#img4{
  background-image:url(https://images.unsplash.com/photo-1710053907161-5280766a3700?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
