*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
  cursor: pointer;
}
html,body{
  width: 100%;
  height: 100%;
}
#main{
  height: 100%;
  width: 100%;
}
#nav{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
#nav h4 {
  font-size: 40px;
}
#nav h5{
  font-size: 20px;
  padding: 0 30px;
}
#nav h5 button{
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
}
#nav h5 button:hover{
  opacity: 0.5;
}
#nav-part1{
  width: 100%;
  height: 20%;
  padding-top: 60px;
  padding-left: 30px;
}
#nav-part1 h3{
  font-weight: 600;
} 
#hero{
  width: 100%;
  height: 50%;
  padding-top: 20px;
  margin-top: 20px;
  padding-left: 30px;
}
#hero h1{
  font-size: 70px;
  width: 90%;
  font-weight: 400;
}
.hero-color{
  color: gray;
}
.btn button{
  margin-top: 60px;
  margin-left: 40px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: none;
}
.btn button:hover{
  background-color: rgb(238, 227, 227);
  color: black;
}
.image{
  width: 100%;
  height: 90%;
  background-size: cover;
  object-fit: cover;
  margin-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom:2px solid black;
}
#img{
  background-image: url(https://images.unsplash.com/photo-1714477917269-382296629acd?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#last{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
#last h3{
  font-size: 20px;

}
#last h1{
  width: 40%;
  font-size: 30px;
  font-weight: 500;
}
.last-color{
  color: grey;
}
#last h3 button{
  font-size: 20px;
  padding: 10px 20px;
  font-weight: 400;
  color: white;
  background-color: black;
  border-radius: 20px;
  border: none;
}
#last h3 button:hover{
  background-color: rgb(238, 227, 227);
  color: black;
}