*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Helvetica ;
  cursor: pointer;
}
html,body{
  height: 100%;
  width: 100%;
}
#main{
  
  width: 100%;
  height: 100%;
}
#nav{

  height: 100px;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}
#nav-part1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  padding-left:7px ;
  
}
#nav-part2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
#content{
  padding: 40px 65px;
  margin-top: 80px;

}
#content h3{
  font-size: 25px;
  font-weight: 500;
}
#content h1{
  font-size: 130px;
  padding-top: 20px;
  font-weight: 500;
  line-height: 160px;
  letter-spacing: -8px;
  word-spacing: 3px;
}
#case{
  padding: 40px 65px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#case h4{
  font-size: 25px;
  font-weight: 500;
}
#case h5{
  font-size: 25px;
  font-weight: 500;
  padding-right: 20px;
}
#right{
  display: flex;
  align-items: center;
  gap: 40px;
}
#line{
  height: 2px;
  width: 100px;
  background-color: black;
  margin-right: 40px;
  
}
#project{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 65px;
  gap: 90px;
}
.elem{
  width: 50%;
}
.elem-img{
  height: 600px;
  width: 100%;
  background-color: rgb(197, 255, 255);
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}
#img1{
  background-image:url(https://i.pinimg.com/736x/0c/b3/87/0cb387b1f7f76d0e970de3712a60629f.jpg);
}
#img2{
  background-image:url(https://i.pinimg.com/1200x/05/cd/0c/05cd0ce6b6b21320dcbbd5175e590976.jpg); 
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.bottom i {
  padding: 15px 30px;
  font-size: 22px;
  border: 2px solid black;
  border-radius: 30px;
  font-weight: 100;
}
.bottom i:hover{
  background-color: black;
  color: white;
}
.bottom h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.bottom h4{
  font-size: 20px;
  color: rgb(90, 87, 87);
  font-weight: 500;
}
  
 
  
